<% if (theme.disqus_enabled && theme.disqus_shortname){ %>
  <hr>
<section id="comments" class="mt-2 mb-3">

  <script data-isso="//comments.kicker.dev/"
  src="//comments.kicker.dev/js/embed.min.js"></script>

<section id="isso-thread">
  <noscript>Javascript needs to be activated to view comments.</noscript>
</section>
</section>
<% } %>
