<% if (theme.disqus_enabled && theme.disqus_shortname){ %>
  <hr>
<section id="comments" class="mt-2 mb-3">




  

  <script data-isso="//comments.kicker.dev/"
  src="//comments.kicker.dev/js/embed.min.js"></script>

  <script id="diffblog-plugin-script" async="false" src="https://diff.blog/static/js/diffblog_plugin_v1.js"></script> 
  <script>
        document.getElementById("diffblog-plugin-script").addEventListener("load", function () {
            DiffBlog(
                "51d5p3nbern7pmdu07tmwh2oidcygllfcl9oknawzvkeu9y30x"
            );
        });
  </script>

<section id="isso-thread">
  <noscript>Javascript needs to be activated to view comments.</noscript>
</section>
</section>
<% } %>
